<form
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col items-center gap-2"
>
  <h2>Formulario de Registro</h2>

  <label for="username">Nombre:</label><br />
  <input
    class="text-black"
    type="text"
    id="username"
    name="username"
    formControlName="username"
  /><br />

  <label for="password">Contraseña:</label><br />
  <input
    class="text-black"
    type="password"
    id="password"
    name="password"
    formControlName="password"
  /><br />

  <button
    class="bg-green-400 p-4 rounded-lg text-xl hover:scale-110 transition-all ease-in-out duration-300"
    type="submit"
    [disabled]="!registerForm.valid"
  >
    Registrar
  </button>
</form>
