<nav class="flex justify-center">
  <div class="container p-6 flex items-center gap-8 text-xl">
    <a
      class="group text-blue-200 transition duration-300"
      routerLink="/login"
      routerLinkActive="active"
    >
      Login
      <span
        class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-blue-200"
      ></span>
    </a>
    <a
      class="group text-pink-200 transition duration-300"
      routerLink="/register"
      routerLinkActive="active"
    >
      Register
      <span
        class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-pink-200"
      ></span>
    </a>
    <a
      class="group text-green-200 transition duration-300"
      routerLink="/articles"
      routerLinkActive="active"
    >
      Articles List
      <span
        class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-green-200"
      ></span>
    </a>
    <a
      class="group text-yellow-200 transition duration-300"
      routerLink="/react"
      routerLinkActive="active"
    >
      Create Article
      <span
        class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-yellow-200"
      ></span>
    </a>
    <button (click)="onLogout()">Logout</button>
  </div>
</nav>
