<nav class="w-full flex items-center justify-between p-8 text-xl">
  <div>
    <a
      class="group text-blue-200 transition duration-300 font-extrabold"
      routerLink="/articles"
      routerLinkActive="active"
    >
      Home
      <span
        class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-blue-200"
      ></span>
    </a>
  </div>
  <div class="flex items-center gap-8">
    <a
      class="group text-pink-200 transition duration-300"
      routerLink="/articles"
      routerLinkActive="active"
    >
      Articles
      <span
        class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-pink-200"
      ></span>
    </a>
    <a
      class="group text-green-200 transition duration-300"
      routerLink="/react"
      routerLinkActive="active"
    >
      Nuevo artículo
      <span
        class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-green-200"
      ></span>
    </a>
  </div>
</nav>
