<section class="text-white flex flex-col gap-6 p-2 cursor-pointer max-w-72">
  <div class="flex justify-between">
    <div class="w-1/2">
      <h2>{{ article.name }}</h2>
      <p class="text-lg" [ngClass]="{ 'text-gray-300': !article.isOnSale }">
        Precio: {{ article.price | currency : "EUR" : "symbol" : "1.2-2" }}
      </p>
      <div class="flex items-center gap-4">
        <img class="h-6 text-white dark:text-black" src="assets/shop.svg" />

        <p>{{ article.quantityInCart }}</p>
      </div>
      <p class="text-sm font-bold text-green-300" *ngIf="article.isOnSale">
        Esta en venta
      </p>
      <p class="text-sm font-bold text-red-300" *ngIf="!article.isOnSale">
        No esta en venta
      </p>
    </div>
    <img
      class="w-[45%] rounded-xl object-cover"
      [src]="article.imageUrl | defaultImage"
      alt="Imagen del articulo"
    />
  </div>
</section>
